@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

:root {
  --background: #1c1936;
  --foreground: #ffffff;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

@layer base {
  p {
    @apply text-base;
  }

  footer {
    p,
    a {
      @apply text-base;
    }
  }

  h2 {
    @apply text-3xl;
  }

  @screen md {
    p {
      @apply text-3xl;
    }
    h2 {
      @apply text-6xl;
    }

    footer {
      p,
      a {
        @apply text-xl;
      }
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Animación para el desplazamiento continuo */
  .infinite-scroll {
    animation: infiniteScroll 40s linear infinite;
    display: flex;
    width: max-content;
  }

  @keyframes infiniteScroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% / 4));
    }
  }

  .scroller:hover .scroller__inner {
    animation-play-state: paused;
  }
}
