@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

:root {
  --background: #1c1936;
  --foreground: #ffffff;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

@layer base {
  p {
    @apply text-base; /* Aplica text-base por defecto */
  }
  footer {
    p,
    a {
      @apply text-xl; /* Aplica text-base por defecto */
    }
  }

  h2 {
    @apply text-3xl; /* Aplica text-2xl por defecto */
  }

  @screen md {
    p {
      @apply text-3xl; /* Aplica text-3xl en pantallas medianas y mayores */
    }
    h2 {
      @apply text-6xl; /* Aplica text-3xl en pantallas medianas y mayores */
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
